.row-nth-re{
    &:nth-child(even){
        flex-direction: row-reverse !important;
    }
}
.container,%container{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    @media (min-width: 576px){
        max-width: 540px;
    }
    @media (min-width: 768px){
    max-width: 720px;
    }
    @media (min-width: 992px){
    max-width: 960px;
    }
    @media (min-width: 1200px){      
        max-width: 1240px;        
    }
}
.container-fluid{
    .container{
        padding: 0;
        @media (min-width:768px) {
            padding: 1rem;
        }
    }
}